<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<!--<assemblies>
				<add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
			</assemblies>-->
		</compilation>
	</system.web>
	<appSettings>
		<add key="ConnString" value="DATASOURCE=arrow.arrowtruck.com;USERID=webuser;PASSWORD=arr0wweb1"/>
	</appSettings>
</configuration>